@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url('../fonts/GraphikLCG-Regular.eot');
    src: url('../fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-Regular.woff') format('woff'),
    url('../fonts/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }